data/*
src/pytorch-cnn-tutorial-with-cats-and-dogs-8782f8.ipynb
input/dogs-vs-cats-redux-kernels-edition/test.zip
input/dogs-vs-cats-redux-kernels-edition/train.zip
input/dogs-vs-cats-redux-kernels-edition/tmp/i_test.zip
input/dogs-vs-cats-redux-kernels-edition/tmp/i_train.zip
src/QmVdDq3F4vwhZ3VYshnTfySDMKLQqVbv92TpojBKK7DViF
input/dogs-vs-cats-redux-kernels-edition/i_test.zip
input/dogs-vs-cats-redux-kernels-edition/i_train.zip
src/0_epoch.pt
src/0epoch.pt
src/model_state_dict.pt
src/model.pt
src/result.csv
src/?_epoch.pt
