data/*
tutorial/pytorch-cnn-tutorial-with-cats-and-dogs-8782f8.ipynb
input/dogs-vs-cats-redux-kernels-edition/test.zip
input/dogs-vs-cats-redux-kernels-edition/train.zip
input/dogs-vs-cats-redux-kernels-edition/tmp/i_test.zip
input/dogs-vs-cats-redux-kernels-edition/tmp/i_train.zip
tutorial/QmVdDq3F4vwhZ3VYshnTfySDMKLQqVbv92TpojBKK7DViF
input/dogs-vs-cats-redux-kernels-edition/i_test.zip
input/dogs-vs-cats-redux-kernels-edition/i_train.zip
tutorial/0_epoch.pt
tutorial/0epoch.pt
tutorial/model_state_dict.pt
tutorial/model.pt
tutorial/result.csv
tutorial/?_epoch.pt
